<table>
	<th colspan="2">HLR-FE Profile</th>
	<tbody>
		<tr><td class="table-heading">MSISDN</td><td>$msisdn</td></tr>
		<tr><td class="table-heading">IMSI</td><td>$imsi</td></tr>
		<tr><td class="table-heading">CAMEL Subscription Profile (CSP)</td><td>$csp</td></tr>
		<tr><td class="table-heading">Charging Characteristic (SCHAR)</td><td>$schar</td></tr>
		<tr><td class="table-heading">Roaming Service Area (RSA)</td><td>$rsa</td></tr>
		<tr><td class="table-heading">Subscribe Category (CAT)</td><td>$cat</td></tr>
		<tr><td class="table-heading">Bar: All Outgoing calls (OBO)</td><td>$obo</td></tr>
		<tr><td class="table-heading">Bar: All Incoming calls (OBI)</td><td>$obi</td></tr>
		<tr><td class="table-heading">Bar: Outgoing Premium Rate calls (Entertainment)(OBOPRE)</td><td>$obopre</td></tr>
		<tr><td class="table-heading">Bar: Outgoing Premium Rate calls (Information)(OBOPRI)</td><td>$obopri</td></tr>
		<tr><td class="table-heading">Bar: International Call Bar - Type 2 (OSB2)</td><td>$osb2</td></tr>
		<tr><td class="table-heading">Bar: International Call Bar - Type 3 (OSB3)</td><td>$osb3</td></tr>
		<tr><td class="table-heading">Bar: International Call Bar - Type 4 (OSB4)</td><td>$osb4</td></tr>
		<tr><td class="table-heading">Short message MT/PP (TS21)</td><td>$ts21</td></tr>
		<tr><td class="table-heading">Short message MO/PP (TS22)</td><td>$ts22</td></tr>
		<tr><td class="table-heading">Operator Determined Barring of Registration of Forwarded-to number (OBRF)</td><td>$obrf</td></tr>
		<tr><td class="table-heading">General synchronous bearer service (BS3G)</td><td>$bsg3</td></tr>
		<tr><td class="table-heading">APNs</td><td>$apns</td></tr>
	</tbody>
</table>

<table>
	<th colspan="2">Network Bars</th>
	<tbody>
		<tr><td class="table-heading">Barring: Full Network Bar Set</td><td class="barring-$fullNetworkBar">$fullNetworkBar</td></tr>
		<tr><td class="table-heading">Barring: Full Suspend Set</td><td class="barring-$fullSuspendBar">$fullSuspendBar</td></tr>
		<tr><td class="table-heading">Barring: Partial Suspend Set</td><td class="barring-$partialSuspendBar">$partialSuspendBar</td></tr>
		<tr><td class="table-heading">Barring: Outgoing Service Bar Set</td><td class="barring-$outgoingServiceBar">$outgoingServiceBar</td></tr>
		<tr><td class="table-heading">Barring: High Value Numbers Bar Set</td><td class="barring-$highValueNumbersBar">$highValueNumbersBar</td></tr>
		<tr><td class="table-heading">Barring: International Bar Set</td><td class="barring-$internationalBar">$internationalBar</td></tr>
		<tr><td class="table-heading">Barring: Premium Bar Set</td><td class="barring-$premiumBar">$premiumBar</td></tr>
	</tbody>
</table>