<table>
	<th colspan="2">SPR Profile</th>
	<tbody>
		<tr><td class="table-heading">Sub ID</td><td>$subID</td></tr>
		<tr><td class="table-heading">Account ID</td><td>$accountID</td></tr>
		<tr><td class="table-heading">MSISDN</td><td>$msisdn</td></tr>
		<tr><td class="table-heading">IMSI</td><td>$imsi</td></tr>
		<tr><td class="table-heading">Price Plan</td><td>$pricePlan</td></tr>
		<tr><td class="table-heading">Subscriber Type</td><td>$subscriberType</td></tr>
		<tr><td class="table-heading">Operator</td><td>$operator</td></tr>
		<tr><td class="table-heading">Notification Flag</td><td>$notificationFlag</td></tr>
		<tr><td class="table-heading">AoC Opted In</td><td>$aocOptedIn</td></tr>
		<tr><td class="table-heading">Billing Source</td><td>$billingSource</td></tr>
		<tr><td class="table-heading">CFSP</td><td>$cfsp</td></tr>
		<tr><td class="table-heading">LTE</td><td>$lte</td></tr>
		<tr><td class="table-heading">ECS</td><td>$ecs</td></tr>
		<tr><td class="table-heading">WiFi Calling</td><td>$wifi</td></tr>
	</tbody>
</table>